.vscode
rpgmaker/save
rpgmaker/audio
rpgmaker/fonts
rpgmaker/img/*
!rpgmaker/img/pictures
rpgmaker/icon
rpgmaker/movies
rpgmaker/js/libs
rpgmaker/js/*.js
!rpgmaker/js/plugins.js
rpgmaker/js/plugins/*.js
!rpgmaker/js/plugins/ILB_*
!rpgmaker/js/plugins/SAN_MapGenerator.js
!rpgmaker/js/plugins/VE_DiagonalMovement.js
!rpgmaker/js/plugins/SimpleDungeonMinimap.js
!rpgmaker/js/plugins/PMD_HUD.js
dev/parsers/example_texts
dev/parsers/wordlists
dev/parsers/wiktionary
dev/parsers/unimorph
dev/parsers/dicts
dev/parsers/node_modules