.vscode
save
audio
fonts
img/*
!img/pictures
icon
movies
js/libs
js/*.js
!js/plugins.js
js/plugins/*.js
!js/plugins/ILB_*
!js/plugins/SAN_MapGenerator.js
!js/plugins/VE_DiagonalMovement.js
!js/plugins/SimpleDungeonMinimap.js
!js/plugins/PMD_HUD.js
dev/parsers/example_texts
dev/parsers/wordlists
dev/parsers/wiktionary
dev/parsers/unimorph
dev/parsers/dicts
dev/parsers/node_modules